/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row; /* Align items horizontally */
    height: 100vh;
    background-color: #ecf0f1;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    position: fixed; /* Make the sidebar fixed */
    height: 100%; /* Ensure it takes the full height */
}

.sidebar h2 {
    margin: 0;
    font-size: 18px;
    background-color: #1abc9c;
    color: white;
    width: 100%;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #16a085;
}

.sidebar a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    width: 100%;
    text-align: left;
    font-size: 16px;
    transition: all 0.3s ease;
    border-left: 4px solid transparent;
}

.sidebar a:hover, .sidebar a.active {
    background-color: #3498db;
    border-left: 4px solid #1abc9c;
    padding-left: 16px;
    font-weight: bold;
}

.content {
    margin-left: 270px;
    padding: 20px;
    background-color: #ecf0f1;
    overflow-y: auto;
}

h1 {
    color: #2c3e50;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}


.row{
    width: 100%;
}

.product-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-item h5 {
    font-size: 18px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 14px;
    color: #7f8c8d;
    margin: 5px 0;
}

.action-buttons a {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    background-color: #1abc9c;
    transition: background-color 0.3s;
}

.action-buttons a:hover {
    background-color: #16a085;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .content {
        margin-left: 220px;
        padding: 15px;
    }
}
